<div class="container">
  <form action="/reminder" method="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="titleInput" placeholder="Title" name="title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Description" name="description"></textarea>
    </div>
    <label for="coverImage">Upload image:</label>
    <input type="file" id="coverImage" name="coverImage">

    <!-- Hidden input to store the Unsplash image URL -->
    <input type="hidden" id="unsplashImageUrl" name="unsplashImageUrl" value="">

    <!-- Button to get a random cover photo from Unsplash -->
    <button type="button" id="fetchUnsplash">Get random cover photo</button>

    <!-- Submit button -->
    <input type="submit" value="Create Reminder">
  </form>
</div>


<script>
  document.getElementById('fetchUnsplash').addEventListener('click', function() {
  fetch('/get-random-image')
    .then(response => response.json())
    .then(data => {
      document.getElementById('unsplashImageUrl').value = data.imageUrl;
      // Optionally display the image to the user
      document.getElementById('coverImage').src = data.imageUrl;
    })
    .catch(err => console.error(err));
});

</script>
